.imglogo{
    margin-left: 50px;
    width:80px;
    height:80px;
}

.txLrNv{
    font-size:20px;
}
.txLrNv2{
    font-size:35px;
    font: bold;
}

.txLrNv3{
    font-size:30px;
    font: bold;
}

.txLrNv4{
    font-size:18px;
}

.CLRD{
    color: red;
}

.pad1{
    padding-bottom: 20px;
    padding-top: 20px;
}

.marg{
    margin-top: 50px;
    margin-bottom:  50px;
}

.container1 {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container2{
    display: grid;
    width: 100vw; 
    height: 100vh;
    position: relative;
    background-image: url(../Assets/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.tbox{
    justify-self: start; 
    align-self: end;
    margin-left:80px; 
    margin-bottom: 200px; 
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: auto;
    background: rgba(0, 0, 0, 0.7);
  }

.container3 {
    width: 100%;
    background-color: #1e2c20;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
}

.container4{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

.AutHi{
    
}

.container5{
    width: 100%;
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
    background-color: #1e2c20;
}

.GSImRs{
    width: auto;
    height: 50%;
    border-radius: 20px;
}

.tx-cl-wh{
    color: white;
}

.bt-bg{
    margin-left: 5px;
    background-color: black;
    border: solid;
    border-color: white;
}

.bld{
    font: bold;
}

.ctrTx{
    text-align: center;
}

.mrg1{
    margin-top: 75px;
}

.mrg2{
    margin-bottom: 40px;
}

.img-wt1{
    border-radius: 20px;
    width: 100%;
    height: 90%;
}

.img-wt2{
    border-radius: 20px;
    width: 100%;
    height: 70%;
}

.img-wt3{
    border-radius: 20px;
    width: 100%;
    height:60%;
}

.b-1{
    border:#1e2c20;
    border: solid;
    border-radius: 10px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}

.container6{
    width: 100%;
    display: flex;
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
    gap: 10px;
}

.container7{
    width: 10%;
    height: 600px;
    background-image: url(../Assets/Reviews1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.container8{
    width: 10%;
    height: 600px;
    background-image: url(../Assets/Reviews2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.container9{
    width: 10%;
    height: 600px;
    background-image: url(../Assets/Reviews3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.container10{
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 300px;
    margin-bottom: 300px;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
}

.containerFTR {
    width: 100%;
    background-color: #1e2c20;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-right: auto;
    margin-left: auto;
}

.containerSF1{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.containerSF2{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.hovZoom:hover{
    transform: scale(1.1);
    overflow: hidden;
}

.hovDrk:hover{
    filter: brightness(70%);
}